/*-------------------------------------------------------------------------
| STYLING FOR HEADERS
|------------------------------------------------------------------------*/

header {
	* { color: #fff; }
}

.site-header {
	position: relative;
	height: #{$base-font-size*3.5}px;
	background-color: $c-primary;

	h1 {
		text-indent: -9999px;
	}
}

.site-header__logo {
	position: absolute;
	height: #{$base-font-size*3.5 - 8}px;
	top: 4px;
	left: 50%;
	margin-left: -22.5px;
}

.site-header__log-out {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -#{$line-height/2}px;
	font-weight: normal;
	text-decoration: none;
}

.sub-header {
	padding: 1em;
	background-color: $c-primary-darker;
	margin-bottom: #{$line-height}px;
	text-transform: uppercase;
}