/*-------------------------------------------------------------------------
| STYLING FOR HEADERS
|------------------------------------------------------------------------*/

header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: $c-primary;

	a {
		text-decoration: none;
		&:first-of-type {
			//float: left;
		}

		&:last-of-type {
			float: right;
		}
	}

	.arrow-back {
		&:after {
			left: -10px;
			border-width: 10px;
			border-right-color: $c-primary;
		}

		&:before {
			left: -14px;
			top: -2px;
			border-width: 12px;
			border-right-color: $c-primary; //$c-primary-3;
		}
	}
}