/*-------------------------------------------------------------------------
| STYLING FOR TRANSPARENT INPUT ELEMENTS
| Used for user input in most screens within the app
|------------------------------------------------------------------------*/

.transparent-input {
	position: relative;
	display: inline-block;

	label {
		display: block;
		position: absolute;
		top: 100%;
		margin-top: -0.5em;
		left: 50%;
		font-size: 1em;
		color: $c-primary;
		z-index: -1;
	}

	input {
		display: inline-block;
		background: transparent;
		color: $c-primary;
		font-size: 3em;
		padding: 0;
		text-align: center;
	}
}