@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
/*------------------------------------*\
    STYLE.CSS
    Version: 1.0.2
    Author: Hampus Persson
    @hmps_se
\*------------------------------------*/
/**
 * Setup imports and frameworks
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*-------------------------------------------------------------------------
| Handy mixins for SASS
|
| @author: Hampus Persson
|
| Credit to HTML5 Boilerplate, Foundation by Zurb & Inuit.css
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| HIDDEN
| Hides an element from both display and screenreaders.
| h5bp.com/u
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| VISUALLY HIDDEN
| Hides an element from display but leaves it visible for screenreaders.
| h5bp.com/v
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| BLOCK GRID
| Generates a block-grid of li-elements.
| VARIABLES:
| $per-row: How many items should sit in each row. (int)
| $spacing: The spacing between li-blocks (px/em)
| $base-style: Should the mixin apply base styling to the blocks? (bool)
| $default-float: Float direction of the block items. (right/left)
|
| Original version from Foundation by ZURB.
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| MEDIA OBJECT
| Mixin to create an instance of Nicole Sullivans media object.
|
| The mixin can be applied to a wrapper containing an img and a p or a
| wrapper containing other elements with class media__img and media__body
|
| VARIABLES
| $reverse: Indicates that the image should be floated to the right (bool)
| $spacing: The horizontal spacing between elements (px/em)
|
| Original code from inuit.css
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| HEADINGS
| Style any number of headings in one go.
|
| VARIABLES
| $from: The first of headings to style, eg 1 = <h1>
| $to : The last of headings to style, eg 6 = <h6>
|
| EXAMPLE
| .body {
|   @include headings (1, 4) {
|     color: #f00;
|   }
| }
|
| Original code from inuit.css
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| BUTTONS
| Style a link as a button
|
| VARIABLES
| $radius: The border radius of the button
| $bgcolor: The background color of the button
| @size: The size of the button
| $hover: The color of the button when the user hovers it, it is active or in focus
|
| EXAMPLE
| @include button(); // A standard button without background color
| @include button( 6px, xl, #f00, #0f0 ); // An extra large button with 6px border radius,
| // red background color and green background color on hover.
|
| Original code from inuit.css
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| GO LINKS
| Style a link without underline and with a double right bracket at the end.
| Use with caution, underlining links is an important standard on the web.
|
| VARIABLES
| $direction: fwd/back indicates the direction of the movement
| $color: The color of the link
| $hover: Set to none if you don't want the link to be underlined on hover
| $float-right: Set to true if the link should align right
|
| EXAMPLE
| @include go-link(); // Black link with underline on hover
| @include go-link( #f00, none ); // Red link without underline on hover
|
| Original code from inuit.css
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| ALERT BOX
| Style an alert box.
|
| VARIABLES
| $bg-color:
| $color:
| $border-radius:
| $padding:
| $font-size:
| $border-width:
| $border-style:
| $border-color:
|
| EXAMPLE
| @include alert(); // Red box with black text
| @include go-link( #0f0, #000, 50% ); // Rounded box with green bg and black text
|
| Original code from Foundation by Zurb
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| ABSOLUTE CENTER
| Position an element at absolut center, horizontally and vertically
|
| VARIABLES
| $width: width in px or em
| $height: height in px or em
|
| EXAMPLE
| @include absolute-center(200px, 200px);
|
|------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------
| VARIABLES
|------------------------------------------------------------------------*/
/* COLORS */
/* PURPLE SHADES, FROM LIGHT TO DARK */
/* GREY SHADES, FROM LIGHT TO DARK */
/* YELLOW/GOLD SHADES, FROM LIGHT TO DARK */
/* GREEN SHADES, FROM LIGHT TO DARK */
/* RED SHADES, FROM LIGHT TO DARK */
/* COLOR VARS FOR THE APP */
/* BREAKPOINTS */
/*-------------------------------------------------------------------------
| CSS
|------------------------------------------------------------------------*/
/*------------------------------------*\
    _BASE.SCSS
\*------------------------------------*/
/**
 * IMPORTS
 */
/**
 * BASE STYLES
 */
html {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 24px;
}

body {
  background-color: white;
  color: #2b2340;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
}

.purple-page {
  background-color: #684fa7;
  color: #fff;
}

img {
  max-width: 100%;
}

section {
  padding-left: 15px;
  padding-right: 15px;
}

.dashboard {
  *zoom: 1;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}
.dashboard:before, .dashboard:after {
  content: " ";
  display: table;
}
.dashboard:after {
  clear: both;
}

/*------------------------------------*\
		_FONTS.SCSS
\*------------------------------------*/
@font-face {
  font-family: 'xplode';
  src: url("../font/xplode.eot?31469070");
  src: url("../font/xplode.eot?31469070#iefix") format("embedded-opentype"), url("../font/xplode.woff?31469070") format("woff"), url("../font/xplode.ttf?31469070") format("truetype"), url("../font/xplode.svg?31469070#xplode") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'xplode';
		src: url('../font/xplode.svg?31469070#xplode') format('svg');
	}
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "xplode";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-user:before {
  content: '\e800';
}

/* '' */
.icon-cancel-circled:before {
  content: '\e801';
}

/* '' */
.icon-lock:before {
  content: '\e802';
}

/* '' */
.icon-left-open-mini:before {
  content: '\e805';
}

/* '' */
.icon-right-open-mini:before {
  content: '\e806';
}

/* '' */
.xplode, .site-header__go-back:after, .big-list__item:after {
  font-family: 'Xplode';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*-------------------------------------------------------------------------
| STYLING FOR INPUT ELEMENTS
|------------------------------------------------------------------------*/
input, textarea {
  font-size: 1em;
  padding: 1em;
  outline: none;
  border: 0;
  border-radius: 0;
  /* Prevent mobile safari from styling inputs to its liking */
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.input-group {
  position: relative;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder {
  color: #989898;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

/*-------------------------------------------------------------------------
| STYLING FOR LINKS
|------------------------------------------------------------------------*/
.arrow-back:after {
  left: -10px;
  border-width: 10px;
  border-right-color: #684fa7;
}
.arrow-back:before {
  left: -14px;
  top: -2px;
  border-width: 12px;
  border-right-color: #684fa7;
}

/*-------------------------------------------------------------------------
| STYLING FOR SECTIONS
|------------------------------------------------------------------------*/
section {
  padding-left: 15px;
  padding-right: 15px;
}

/*-------------------------------------------------------------------------
| STYLING FOR LISTS
|------------------------------------------------------------------------*/
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*-------------------------------------------------------------------------
| STYLING FOR HEADINGS
|------------------------------------------------------------------------*/
h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/*-------------------------------------------------------------------------
| STYLING FOR ARROWS
|------------------------------------------------------------------------*/
.arrow {
  position: relative;
  padding-left: 15px;
}
.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  border: solid transparent;
  height: 0;
  width: 0;
}

.logo__large-centered {
  max-width: 100px;
  margin: 50px auto;
  display: block;
}

/*-------------------------------------------------------------------------
| STYLING FOR HEADERS
|------------------------------------------------------------------------*/
header * {
  color: #fff;
}

.site-header {
  position: relative;
  height: 56px;
  background-color: #684fa7;
}
.site-header h1 {
  text-indent: -9999px;
}
.site-header__logo {
  position: absolute;
  height: 48px;
  top: 4px;
  left: 50%;
  margin-left: -22.5px;
}
.site-header__go-back {
  position: absolute;
  left: 10px;
  top: 50%;
  padding-left: 16px;
  margin-top: -8px;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}
.site-header__go-back:after {
  color: #efd218;
  content: "\e805";
  position: absolute;
  top: 50%;
  left: 0px;
  /* 'couple of magic numbers here. Fix later... */
  margin-top: -16px;
  font-size: 32px;
}
.site-header__log-out {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}

.sub-header {
  padding: 1em;
  background-color: #574584;
}
.sub-header a {
  text-decoration: none;
}
.sub-header h2 {
  text-transform: uppercase;
}
.sub-header p {
  text-align: center;
  font-style: italic;
}

.purple-form__text, .purple-form__submit {
  width: 100%;
}
.purple-form__text {
  margin-top: 0;
  background-color: #fff;
  padding-left: 43px;
}
.purple-form__submit {
  background-color: #efd218;
  margin-top: 12px;
  color: #2b2340;
}
.purple-form__secondary {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 12px;
  font-style: italic;
}
.purple-form__label {
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  left: 1em;
  font-size: 13px;
  color: #2b2340;
}

.white-form__text, .white-form__submit {
  width: 100%;
}
.white-form__text {
  margin-top: 0;
  background-color: #fff;
  padding-left: 43px;
}
.white-form__submit {
  background-color: #684fa7;
  margin-top: 12px;
  color: #fff;
}
.white-form__secondary {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 12px;
  font-style: italic;
}
.white-form__label {
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  left: 1em;
  font-size: 13px;
  color: #2b2340;
}

/*-------------------------------------------------------------------------
| STYLING FOR TRANSPARENT INPUT ELEMENTS
| Used for user input in most screens within the app
|------------------------------------------------------------------------*/
.transparent-input {
  position: relative;
  display: inline-block;
}
.transparent-input label {
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -0.5em;
  left: 50%;
  font-size: 1em;
  color: #684fa7;
  z-index: -1;
}
.transparent-input input {
  display: inline-block;
  background: transparent;
  color: #684fa7;
  font-size: 3em;
  padding: 0;
  text-align: center;
}

/*-------------------------------------------------------------------------
| STYLING FOR TRANSPARENT INPUT ELEMENTS
| Used for user input in most screens within the app
|------------------------------------------------------------------------*/
.jogger {
  position: relative;
  margin: 0 -15px;
  height: 100px;
  display: inline-block;
  letter-spacing: -0.2em;
}
.jogger * {
  letter-spacing: 0;
}
.jogger__label {
  display: block;
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  color: #684fa7;
  text-align: center;
}
.jogger__input {
  display: inline-block;
  width: 50%;
  background: transparent;
  color: #684fa7;
  font-size: 3em;
  padding: 0;
  text-align: center;
}
.jogger__button {
  display: inline-block;
  width: 25%;
  font-size: 3em;
  line-height: 100px;
  padding: 0;
  margin: 0;
  background: transparent;
  color: #684fa7;
}
.jogger__button:first-of-type {
  text-align: left;
  padding-left: 15px;
}
.jogger__button:last-of-type {
  text-align: right;
  padding-right: 15px;
}

/*-------------------------------------------------------------------------
| STYLING FOR LIST OF CHOICES
|------------------------------------------------------------------------*/
.big-list {
  list-style: none;
}
.big-list * {
  color: #2b2340;
  text-decoration: none;
}
.big-list .big-list__overlay {
  letter-spacing: -0.2em;
}
.big-list .big-list__overlay * {
  letter-spacing: 0;
}
.big-list__item, .big-list__item-no-disclosure {
  cursor: pointer;
  position: relative;
  height: 100px;
}
.big-list__item:not(:last-of-type), .big-list__item-no-disclosure:not(:last-of-type) {
  border-bottom: 1px solid #684fa7;
}
.big-list__item:after {
  color: #684fa7;
  content: "\e806";
  position: absolute;
  top: 50%;
  right: 0px;
  /* 'couple of magic numbers here. Fix later... */
  margin-top: -12px;
  font-size: 32px;
  z-index: 11;
}
.big-list__item .big-list__label {
  padding-right: 1em;
}
.big-list__title {
  font-size: 1.5em;
  display: inline-block;
  font-weight: normal;
  margin: 0 0 10px;
  margin: 0;
  pointer-events: none;
  text-align: left;
  width: 65%;
  line-height: 100px;
  white-space: nowrap;
  pointer-events: none;
}
.big-list__prio {
  color: #bbb;
  padding-right: 5px;
}
.big-list__label {
  display: inline-block;
  text-align: right;
  width: 35%;
  line-height: 100px;
  white-space: nowrap;
  pointer-events: none;
}
.big-list__disclosure {
  background: none;
  border: none;
  color: #684fa7;
  position: absolute;
  right: 0;
  top: 50%;
  padding: 0;
  margin-top: -0.5em;
  font-size: 2em;
}

.big-list__overlay, .actions {
  margin-right: -15px;
  margin-left: -15px;
  height: 100%;
  padding: 0 1em;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.big-list__overlay {
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.actions {
  background-color: #f00;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  text-align: right;
}
.actions i {
  font-size: 2.5em;
  color: #fff;
  line-height: 99px;
}

.swipe-out.ng-enter,
.swipe-out.ng-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.swipe-out.ng-enter,
.swipe-out.ng-leave.ng-leave-active {
  opacity: 0;
}

.swipe-out.ng-leave,
.swipe-out.ng-enter.ng-enter-active {
  opacity: 1;
}

.swipe-left.swipe-out {
  -webkit-transform: translateX(-90px);
  -moz-transform: translateX(-90px);
  -ms-transform: translateX(-90px);
  -o-transform: translateX(-90px);
  transform: translateX(-90px);
}

/*-------------------------------------------------------------------------
| STYLING FOR THE ADD DRILL PAGE
|------------------------------------------------------------------------*/
.add-set input[type=submit] {
  margin: 1em 0;
  width: 100%;
  background-color: #684fa7;
}
.add-set input[type=submit]:hover, .add-set input[type=submit]:focus {
  background-color: #684fa7;
}
.add-set input[type=submit].sending {
  background-color: #ccc;
}
.add-set input[type=submit].success {
  background-color: #684fa7;
}

/*# sourceMappingURL=style.css.map */