/*------------------------------------*\
    _BASE.SCSS
\*------------------------------------*/

/**
 * IMPORTS
 */

@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
/**
 * BASE STYLES
 */

html {
	-webkit-font-smoothing: antialiased;
	font-size: #{$base-font-size}px;
	line-height: #{$line-height}px;
}

body {
	background-color: $c-bg;
	color: $c-text;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

.purple-page {
	background-color: $c-primary;
	color: #fff;
}

img {
	max-width: 100%;
}

section {
	padding-left: 15px;
	padding-right: 15px;
}

.dashboard {
	@include outer-container();
}