/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/

@charset "UTF-8";

/**
 * Setup imports and frameworks
 */

@import "../components/bourbon/bourbon";
@import "../components/neat/neat";
@import "../components/sassylicious/mixins";


/*-------------------------------------------------------------------------
| VARIABLES
|------------------------------------------------------------------------*/
$base-font-size: 16px;
$max-width: em(1200, $base-font-size);

/* COLORS */


/* BREAKPOINTS */
$kiddo: new-breakpoint(min-width em(480, $base-font-size) 4);
$junior: new-breakpoint(min-width em(768, $base-font-size) 12);
$senior: new-breakpoint(min-width em(1230, $base-font-size) 12);

/*-------------------------------------------------------------------------
| CSS
|------------------------------------------------------------------------*/

@import "base";