/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/

@charset "UTF-8";

/**
 * Setup imports and frameworks
 */

@import "../components/normalize-css/normalize";
@import "../components/bourbon/bourbon";

$base-font-size: 16;
$line-height: 24;
$max-width: em(1200, $base-font-size);

@import "../components/neat/neat";
@import "../components/sassylicious/mixins";


/*-------------------------------------------------------------------------
| VARIABLES
|------------------------------------------------------------------------*/


/* COLORS */

/* PURPLE SHADES, FROM LIGHT TO DARK */
$c-purple-1: #684FA7;
$c-purple-2: #644E9B;
$c-purple-3: #574584;
$c-purple-4: #413462;
$c-purple-5: #2B2340;

/* GREY SHADES, FROM LIGHT TO DARK */
$c-grey-1: #989898;
$c-grey-2: #7E7E7E;

/* YELLOW/GOLD SHADES, FROM LIGHT TO DARK */
$c-gold-1: #EFD218;
$c-gold-2: #DBC113;

/* GREEN SHADES, FROM LIGHT TO DARK */
$c-green-1: #359A53;
$c-green-2: #248843;

/* RED SHADES, FROM LIGHT TO DARK */
$c-red-1: #F40012;
$c-red-2: #C60D1B;

/* COLOR VARS FOR THE APP */
$c-bg: #fff;
$c-text: $c-purple-5;
$c-text-light: $c-grey-1;
$c-link: #fff;

$c-primary: $c-purple-1;
$c-primary-darker: $c-purple-3;

/* BREAKPOINTS */
$kiddo: new-breakpoint(min-width em(480, $base-font-size) 4);
$junior: new-breakpoint(min-width em(768, $base-font-size) 12);
$senior: new-breakpoint(min-width em(1230, $base-font-size) 12);

/*-------------------------------------------------------------------------
| CSS
|------------------------------------------------------------------------*/

@import "base";

@import "atoms/input";
@import "atoms/links";
@import "atoms/section";
@import "atoms/lists";
@import "atoms/headings";
@import "atoms/arrows";

@import "modules/header";
@import "modules/login-form";
@import "modules/transparent-input";
@import "modules/choices";
@import "modules/animations";

@import "pages/add-drill"