/*-------------------------------------------------------------------------
| STYLING FOR THE ADD DRILL PAGE
|------------------------------------------------------------------------*/

.add-set {

	.transparent-input {
		float: left;
		width: 50%;
	}

	input[type=submit] {
		margin: 1em 0;
		width: 100%;
		background-color: $c-primary;

		&:hover, &:focus {
			background-color: $c-primary;
		}

		&.sending {
			background-color: #ccc;
		}

		&.success {
			background-color: $c-primary;
		}
	}

	.change-value {
		width: auto;
		margin: 0 auto;
	}
}