/*-------------------------------------------------------------------------
| STYLING FOR THE ADD DRILL PAGE
|------------------------------------------------------------------------*/

.add-set {
	input[type=submit] {
		margin: 1em 0;
		width: 100%;
		background-color: $c-primary;

		&:hover, &:focus {
			background-color: $c-primary;
		}

		&.sending {
			background-color: #ccc;
		}

		&.success {
			background-color: $c-primary;
		}
	}
}