/*-------------------------------------------------------------------------
| STYLING FOR INPUT ELEMENTS
|------------------------------------------------------------------------*/

input {
	font-size: 1em;
	padding: 1.4em 1em;
	outline: none;
	border: 0;
	border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}