/*-------------------------------------------------------------------------
| STYLING FOR INPUT ELEMENTS
|------------------------------------------------------------------------*/

input, textarea {
	font-size: 1em;
	padding: 1em;
	outline: none;
	border: 0;
	border-radius: 0;

	/* Prevent mobile safari from styling inputs to its liking */
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.input-group {
	position: relative;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder {
	color: $c-grey-1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}