<header>
	<div class="site-header">
		<h1><img src="assets/images/logo-52.png" alt="Xplode logo" class="site-header__logo">Xplode your performance</h1>
		<a href="" fast-click="go('/program/{{program.id}}/day/{{day}}')" class="site-header__go-back">Välj övning</a>
		<a href="" fast-click="logout();" class="site-header__log-out">Logga ut</a>
	</div>
	<div class="sub-header">
		<h2><a href="http://m.styrkeprogrammet.se/m/ovning/{{drill.sp_id}}" target="_blank">{{drill.title}}</a></h2>
		<p>{{drill.description}}</p>
	</div>
</header>
<section>
	<p style="text-align: center; padding-top: 1em; font-weight: bold;">{{doThis}}</p>
	<form data-ng-submit="addSet()" class="add-set white-form">
		<div class="jogger">
			<input type="button"  class="jogger__button" value="-" fast-click="drillWeight = drillWeight-1">
			<input type="number" tabindex="1" class="jogger__input" id="inputWeight" data-ng-model="drillWeight">
			<label for="inputWeight" class="jogger__label">Vikt</label>
			<input type="button" class="jogger__button" value="+" fast-click="drillWeight = drillWeight+1">
		</div>
		<div class="jogger">
			<input type="button"  class="jogger__button" value="-" fast-click="drillReps = drillReps-1">
			<input type="number" tabindex="2" class="jogger__input" id="inputReps" data-ng-model="drillReps">
			<label for="inputReps" class="jogger__label">Reps</label>
			<input type="button" class="jogger__button" value="+" fast-click="drillReps = drillReps+1">
		</div>
		<input class="white-form__submit" type="submit" id="submit-result" value="Registrera" >
	</form>

	<ul class="big-list">
		<li data-ng-repeat="rep in reps | orderBy:'created_at':true" class="big-list__item-no-disclosure">
			<div ng-swipe-left="toggleActions('reveal', $event)" ng-swipe-right="toggleActions('hide', $event)" class="big-list__overlay swipe-left">
				<p class="big-list__title">{{rep.weight}} x {{rep.reps}}</p>
				<p class="big-list__label">{{rep.displayDate}}</p>
			</div>
			<div class="actions" ng-swipe-right="toggleActions('hide', $event)">
				<i class="icon-cancel-circled" ng-click="removeSet(this)"></i>
			</div>
		</li>
	</ul>
</section>