<header>
	<div class="site-header">
		<h1><img src="assets/images/logo-52.png" alt="Xplode logo" class="site-header__logo">Xplode your performance</h1>
		<a href="" fast-click="logout();" class="site-header__log-out">Logga ut</a>
	</div>
	<div class="sub-header">
		<h2>{{user.name}}</h2>
	</div>
</header>
<section class="dashboard">
	<div class="programs">
		<ul class="big-list" data-ng-show="programs">
			<li data-ng-repeat="program in programs" class="big-list__item" fast-click="go('/program/{{program.id}}')">
				<div class="big-list__overlay">
					<p class="big-list__title">{{program.title}}</p>
					<p class="big-list__label">4/10-4/11</p>
				</div>
			</li>
		</ul>
	</div>
</section>