<header>
	<a class="arrow arrow-back" href="{{ROUTES}}/#/program/{{program.id}}">Välj program</a>
	<a href="{{ROUTES}}/logout">Logga ut</a>
</header>
<section class="program">
	<h1>{{program.title}}{{" dag " + day}}</h1>
	<h3>Välj övning</h3>
	<ul class="choices">
		<li data-ng-repeat="drill in program.days[day-1].drills | orderBy: ['prio', 'title']">
			<a href="{{ROUTES}}/#/drill/{{drill.drill}}/add">
				<div class="overlay">
					<h2>{{drill.title}}</h2>
					<time>[{{drill.prio}}] - {{drill.sets}}x{{drill.reps}}</time>
					<button>▶</button>
				</div>
			</a>
		</li>
	</ul>
</section>