<header>
	<div class="site-header">
		<h1><img src="/assets/images/logo-52.png" alt="Xplode logo" class="site-header__logo">Xplode your performance</h1>
		<a href="" fast-click="go('/program/{{program.id}}')" class="site-header__go-back">Välj dag</a>
		<a href="" fast-click="logout();" class="site-header__log-out">Logga ut</a>
	</div>
	<div class="sub-header">
		<h2>{{program.title}}{{" dag " + day}}</h2>
	</div>
</header>
<section class="program">
	<ul class="big-list">
		<li data-ng-repeat="drill in program.days[day-1].drills | orderBy: ['prio', 'title']" class="big-list__item" fast-click="go('/drill/{{drill.drill}}/add')">
			<div class="big-list__overlay">
				<p class="big-list__title"><span class="big-list__prio">{{drill.prio}}</span>{{drill.title}}</p>
				<p class="big-list__label">{{drill.sets}}x{{drill.reps}}</p>
			</div>
		</li>
	</ul>
</section>